extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/box-intro.pug
include ../../mixins/box-item.pug
block main
    +box-intro(
        singer.avatar,
        singer.fullName,
    )
    +box-head(
            "Danh mục bài hát"
        )
    .row    
        .col-12
            each song in songs 
                +box-item(
                    song,
                    singer.fullName
                )