div(class=`account`)
    .boostAccount 
        -if(!users || users.type_user=="basic")
            button(onclick=`handleCheckPremium(event,${JSON.stringify(users)})`) Nâng cấp tài khoản 
    -if (users)
        .avatarAccount 
            img(src=users.avatar alt="" user=users)