* {
  box-sizing: border-box;
}

/* Header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu>ul>li {
  margin-left: 20px;
}

/* End Header */
/* Footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* End Footer */
/* box-head */
.box-head {
  margin-bottom: 30px;
  margin-top: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  color: #EFEEE0;
}

/* End box-head */

/* song-item */
.song-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.song-item .inner-image {
  width: 115px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.song-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-item .inner-content {
  padding: 10px;
  flex: 1;
}

.song-item .inner-content .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
}

.song-item .inner-content .inner-title a {
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

.song-item .inner-content .inner-title a:hover {
  color: #7c00c8;
  text-decoration: none;
}

.song-item .inner-content .inner-singer {
  font-size: 13px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 2px;
}

.song-item .inner-content .inner-like {
  font-size: 13px;
  font-weight: 500;
  color: #004cd0;
  margin-bottom: 2px;
}

.song-item .inner-content .inner-time {
  font-size: 13px;
  font-weight: 500;
  color: #585858;
}

.song-item .inner-content .inner-time {
  font-size: 13px;
  font-weight: 500;
  color: #585858;
}

.song-item .inner-content .inner-heart {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  cursor: pointer;
}

.song-item .inner-content .inner-heart.active {
  color: #b90000;
}

.song-item .inner-content .inner-heart.active i {
  font-weight: 900;
}

/* End song-item */

/* singer-detail */
.singer-detail .inner-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #F57F20;
}

.singer-detail .inner-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.singer-detail .inner-actions .inner-action {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #646464;
}

.singer-detail .inner-actions .inner-action i {
  font-size: 16px;
  margin-right: 5px;
}

.singer-detail .inner-actions .inner-like {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-like i {
  color: #0059ff;
}

.singer-detail .inner-actions .inner-like.active {
  color: #0059ff;
}

.singer-detail .inner-actions .inner-like.active i {
  font-weight: 900;
}

.singer-detail .inner-actions .inner-heart {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-heart i {
  color: #b90000;
}

.singer-detail .inner-actions .inner-heart.active {
  color: #b90000;
}

.singer-detail .inner-actions .inner-heart.active i {
  font-weight: 900;
}

.singer-detail .inner-play {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.singer-detail .inner-play .inner-audio {
  flex: 1;
}

.singer-detail .inner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #F57F20;
  margin-right: 20px;
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.singer-detail .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singer-detail .inner-desc {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
  font-size: 16px;
  font-weight: 700;
  color: #F57F20;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.singer-detail .inner-desc .inner-text {
  font-size: 14px;
  padding: 10px 15px;
  white-space: pre;
}

/* End singer-detail */

/* box-search */
.box-search {
  position: relative;
}

.box-search .inner-suggest {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
  display: none;
}

.box-search .inner-suggest.show {
  display: block;
}

.box-search .inner-suggest .inner-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.box-search .inner-suggest .inner-item:hover {
  background: #efefef;
  text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child {
  border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info {
  flex: 1;
  margin-left: 10px;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer {
  font-size: 13px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 2px;
}

/* End box-search */


/*===========================================NEW INTERFACE=========================*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  color: white;
  background-color: #292929;
  font-family: "Quicksand", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1280px;
  margin: auto auto;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

.inner-wrap {
  display: flex;
  justify-items: start;
}

.inner-left {
  /* width: 280px; */
  width: 280px;
}

.inner-right {
  width: calc(100% - 288px);
  flex: 1;
  margin-left: 20px;
}

.inner-right--header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.inner-main {
  height: 1000px;
  /* background-color: white;
  color: black; */
  margin-bottom: 40px;
}

/*end container*/
/*Sider*/
.sider {
  background-color: #212121;
  height: 100vh;
  position: fixed;
  width: 280px;
}

.sider .sider-logo {
  background-color: #1C1C1C;
  padding: 25px 20px;
}

.sider .sider-logo img {
  width: auto;
  height: 42px;
}

.sider .sider-menu {
  margin-top: 30px;
}

.sider .sider-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sider .sider-menu li {
  list-style: none;


}

.sider .sider-menu li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.sider .sider-menu li a:hover {
  color: #00ADEF;
}

.sider .sider-menu li a i {
  width: 22px;
  height: 25px;
  margin-right: 5px;

}

/*End Sider*/
.search {
  background-color: #1F1F1F;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  position: sticky;
  /* top: 10px; */
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 52px;
  position: relative;
  flex: 1;
  border: 0;

}

.search i {
  /* padding: 0 10px; */
}

.search .search-input {
  background-color: #1F1F1F;
  color: white;
  border: 0;
  flex: 1;
  border: 0;
  outline: none;
}

/* .search i {
  margin-right: 20px;
} */

.play {
  position: fixed;
  background-color: #212121;
  width: 100%;
  z-index: 999;
  bottom: 0;
  left: 0;
  padding: 10px 0;

}

.play .play__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play .play__name {
  display: flex;
  gap: 11px;
  align-items: center;
}

.play .play__image img {
  width: 50px;
  height: 50px;
}

.play .play__title {
  display: flex;
  flex-direction: column;

}

.play .play__title-main {
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

.play .play__title-sub {
  color: #FFFFFF70;
  font-size: 12px;
  font-weight: 700;
}

.play__music {}

.play__music .buttons {
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.play__music .button-play {
  width: 32px;
  height: 32px;
  background-color: #00ADEF;
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  /* Cần phù hợp với bố cục flex của .buttons */
  align-items: center;
  justify-content: center;

}

/* .button-play.run {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* .play__music .button-play.play {
  display: inline-flex;
} */

.play__music .play__time {
  width: 700px;
}

.play__music .play__time input {
  width: 100%;
}

.play .play__volume {
  display: flex;
  align-items: center;
  gap: 6px;
}

/*End Sider*/
/*Danh muc bai hat*/
.card {
  background-color: #1F1F1F;
  border: 0;
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 23px;
  padding-top: 0px;
}

/* .card .card-body {
  background-color: #1F1F1F;
  padding: 10px;
} */

.card img {

  background-color: #1F1F1F;
  margin-bottom: 10px;

}

.card .card-title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card .card-text {
  color: #FFFFFF80;
  font-size: 12px;
  font-weight: 400;
}

.card a {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/*het Danh muc bai hat*/
/*box-intro*/
.box-intro {
  display: flex;
  gap: 20px;

}

.box-intro img {
  height: 120px;
  width: 120px;
}

.box-intro .inner-title {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.box-intro .inner-title-main {
  color: #00ADEF;
  font-size: 35px;
  font-weight: 700;
}

.box-intro .inner-title-sub {
  color: #EFEEE0;
  font-size: 14px;
  font-weight: 400;
}

/*end box-intro*/
/*Chi tiet bai hat*/
.singer-detail .inner-title {
  color: #00ADEF;
}

.aplayer .aplayer-info .aplayer-music .aplayer-title {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

/*het Chi tiet bai hat*/
/*box-item*/
.playlist-detail__songSuggest--item .col-12 {
  padding-left: 40px;
}

.box-items__category {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.box-item__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: #212121;
  border-radius: 15px;
}

.box-item__category .box-item__category--title {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 200px;
}

.box-item__category .box-item__category--title i {
  cursor: pointer;
}

.box-item__category .box-item__category--title img {
  height: 42px;
  width: 42px;
}

.box-item__category .box-item__category--title-main {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}

.box-item__category .box-item__category--buttons {
  display: flex;
  gap: 10px;
}

.box-items__category .inner-icon-trash {
  cursor: pointer;
}

.box-items__category .inner-icon-trash:hover {
  color: #dddddd66;
}

.box-items__category .inner-icon-add {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #4D9203;
  color: white;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*het box-item*/
/*Tim kiem*/
.form-group input {
  background-color: #1F1F1F;
  color: white;
  border: 0;
  flex: 1;
  border: 0;
  outline: none;
  order: 2;
  width: 100%;
}

.form-group button {
  background-color: transparent;
  border: 0;
  order: 1;
  color: white;
}

.form-control:focus {
  outline: 0;
  border-color: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: none;
}

.inner-list {
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 999;
  width: 280px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border-bottom: 1px solid #ddd; */
}

.inner-list .inner-item img {
  width: 42px;
  height: 42px;
}

.inner-list .inner-item {
  display: flex;
  /* justify-content: space-between; */

}

/*Het Tim kiem*/
/*Danh muc ca si*/
.singer img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.singer .singer-title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

/*het Danh muc ca si*/
/*form */
.login {
  display: block;
}

.register-title {
  width: 100%;
  text-align: center;
  color: #EFEEE0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;

}

.login-title {
  width: 100%;
  text-align: center;
  color: #EFEEE0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;

}

.form {
  margin: auto auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form .form__title {
  display: flex;
  color: #EFEEE0;
  font-size: 14px;
  font-weight: 600;
}

.form .form__title--required {
  color: red;
  margin-left: 3px;
}

.form input {
  height: 40px;
  width: 400px;
  border-radius: 6px;
  border: 0;
  padding: 14px 16px;
}

.login .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form button {
  background-color: #00ADEF;
  height: 40px;
  width: 400px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: #EFEEE0;
}

.login .login-google {
  background-color: white;
  height: 40px;
  width: 400px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login .login-google:hover {
  background-color: black;
  height: 40px;
  width: 400px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.login .buttons img {
  width: 25px;
  height: 25px;
}

.login .form__forgetPassword {
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;

}

.login .form__forgetPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*het form */
/* Range */
.range-sm::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000EB;
}

.range-sm::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000EB;
}

/* End Range */
/*dataSection1 */
.dataSection1 {
  display: flex;
  gap: 11px;
}



.dataSection1 .dataSection1__intro {
  /* width: 536px; */
  width: 414px;
  display: flex;
  gap: 3px;
  background-image: url(../images/background_dataSection1.png);
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

.dataSection1 .dataSection1__title {
  width: 60%;
}

.dataSection1 .dataSection1__intro .dataSection1__image {
  width: 215px;
  display: block;
  margin-top: 40px;
}

.dataSection1 .dataSection1__intro .dataSection1__image img {
  width: 100%;
  height: auto;
  display: block;
  height: 100%;
}

.dataSection1 .dataSection1__title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 30px;
  margin-right: 38px;
}

.dataSection1 .dataSection1__title--main {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
}

.dataSection1 .dataSection1__title--sub {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.dataSection1 .dataSection1__content {
  /* width: 45%; */
  width: 426px;
  /* width: 326px; */
}

.dataSection1 .dataSection1__items--title {
  color: #EFEEE0;
  font-size: 24px;
  font-weight: 700;
}

.dataSection1 .dataSection1__item--list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dataSection1 .dataSection1__item {
  display: flex;
  width: 91%;
  background-color: #212121;
  padding: 7px 9px;
  justify-content: space-between;
  border-radius: 10px;
  gap: 2px;
}

.dataSection1 .dataSection1__item--intro {
  display: flex;
  flex-wrap: nowrap;
  gap: 9px;
  align-items: center;
}

.dataSection1 .dataSection1__item img {
  width: 76px;
  height: 76px;
  border-radius: 10px;
}

.dataSection1 .dataSection1__item--title {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.dataSection1 .dataSection1__item--nameSong {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;

}

.dataSection1 .dataSection1__item--singer {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
}

.dataSection1 .dataSection1__item--count {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
}

.dataSection1 .dataSection1__buttons {
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
  align-items: center;
}

.dataSection1 .dataSection1__button {
  width: 30px;
  height: 29px;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.dataSection1 .dataSection1__item.active .dataSection1__button--play {
  background-color: #00ADEF;
  border: 0;
}

/*het dataSection1 */
/* dataSection2 */
.dataSection2 {
  padding: 10px;
}

/*het dataSection2 */
/*dataSection3 */
.dataSection3 {
  padding: 10px;
}

/*het dataSection3 */
/*flag Premium*/
.song-item {
  position: relative;
}

.song-item .inner-title span {
  color: black;
}

.flag-premium {
  background-color: #3E804F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 3px;
  right: 3px;
  overflow: hidden;
  padding: 2px 3px;
  border-radius: 5px;
  /* display: block; */
  display: none;
}

.flag-premium.active {
  display: block;
}

/*end flag Premium*/
/*modal-pro*/
.modal_pro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_pro .modal-main {
  width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal_pro .modal-btn {
  position: absolute;
  top: 4px;
  right: 27px;
  color: white;
  z-index: 1001;
  cursor: pointer;
}

.modal_pro .modal-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #34224F;
  /* position: fixed; */
  width: 415px;
  z-index: 1000;

}

.modal_pro .bg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c1c0c06f;
}

.modal_pro img {
  width: 350px;
  /* height: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_pro .modal-wrap .modal-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.modal_pro button {
  background-color: #8B45CA;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 2px 3px;
  text-decoration: none;
}

/*end modal*/

/*modal*/
.modal_login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-btn {
  position: absolute;
  top: 4px;
  right: 27px;
  color: white;
  z-index: 1002;
  cursor: pointer;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #34224F;
  /* position: fixed; */
  width: 415px;
  z-index: 1000;

}

.bg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c1c0c06f;
}

.modal_login img {
  width: 350px;
  /* height: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrap .modal-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.modal_login a {
  background-color: #8939FF;

  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 2px 3px;
  text-decoration: none;
}

/*end modal*/

/*Audio*/

.play-audio .inner-audio {
  display: none;
}

.play-audio {
  display: none;
}

.play-audio.begin {
  display: block;
}

.button-play .btn-pause {
  display: none;
}

.button-play.run .btn-pause {
  display: block;

}

.button-play.run .btn-play {
  display: none;
}

.inner-current {
  height: 4px;
  width: 0;
  background-color: #00ADEF;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 13px;
}

/* w-full h-[4px] bg-[#FFFFFF0A] appearance-none rounded-[50px] cursor-pointer range-sm  */
.inner-total {
  height: 6px;
  width: 100%;
  background-color: #00ADEF;
  border-radius: 50px;
  position: relative;
}

/* Range */

/* Reset CSS mặc định */
/* Thu nhỏ hình tròn (thumb) */

.range-sm::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000EB;
}

.range-sm::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ADEF;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #000000EB;
}

/* End Range */

/*end Audio*/

/*Playlist*/


.listmusic .playlist__header {
  display: flex;
  border-bottom: 1px solid #dddddd70;
}

.listmusic .playlist__header--title {
  font-size: 30px;
  font-weight: 700;
  /* border-right: 1px solid #dddddd70;
  padding-right: 30px; */
}

.listmusic .playlist__buttons {
  display: flex;
  gap: 30px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 30px;
}

.listmusic .playlist__buttons.active {
  border-bottom: 1px solid #7c00c8;
}

.listmusic .playlist__content {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.listmusic .create-playlist-new {
  border: 1px solid #dddddd70;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
}

.listmusic .create-playlist-new {
  display: flex;
  flex-direction: column;
}

.listmusic .create-playlist-new i {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 3px;
}

.listmusic .playlist-old {
  display: flex;
  gap: 30px;
}

.listmusic .playlist-old img {
  width: 130px;
  height: 120px;
  border-radius: 5px;
}

.listmusic .playlist-old--title {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.listmusic .playlist-old-name-playlist {
  font-size: 14px;
  font-weight: 700;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.listmusic .playlist-old-name-creater {
  font-size: 14px;
  font-weight: 500;
  color: #dddddd90;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

/*end Playlist*/

/*Tạo playlist*/
.modal-create-playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-create-playlist input {
  background-color: #a389b9;
  border-radius: 10px;
  padding: 4px 6px;
  outline: 0;
  border: 0;
}

.modal-create-playlist button {
  background-color: #8B45CA;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 2px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
}

/*end modal*/
/*Chỉnh sửa playlist*/
.modal-edit-playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-edit-playlist input {
  background-color: #a389b9;
  border-radius: 10px;
  padding: 4px 6px;
  outline: 0;
  border: 0;
}

.modal-edit-playlist button {
  background-color: #8B45CA;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 2px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
}

/*Hết chỉnh sửa playlist*/
/* Thêm bài hát vào playlist*/
.modal-add-playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-add-playlist .modal-playlist {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.modal-add-playlist input {
  background-color: #a389b9;
  border-radius: 10px;
  padding: 4px 6px;
  outline: 0;
  border: 0;
}

.modal-add-playlist .modal-create-new-playlist {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.modal-add-playlist .modal-create-new-playlist i {
  border-radius: 5px;
  background-color: #A767B1;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-add-playlist .modal-add-old-playlist-list {
  display: flex;
  flex-direction: column;
  flex: 20px;
}

.modal-add-playlist .modal-add-old-playlist {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.modal-add-playlist .modal-add-old-playlist i {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-add-playlist .modal-item--title {
  font-size: 14px;
  font-weight: 500;

}

/*Hết Thêm bài hát vào playlist*/

/*
Tạo thông báo
*/
.list-alert {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;
}

.alert {
  display: flex;
  gap: 20px;
  background-color: #ddd;
  padding: 12px 20px;
  color: white;
  font-size: 18px;
  justify-content: space-between;
  width: 250px;
  border-radius: 8px;
  z-index: 9999;
}

.alert--success {
  background-color: #63C800;
}

.alert--error {
  background-color: #C91E00;
}

.alert-close {
  cursor: pointer;
}

.alert-close:hover {
  color: #C91E00;
}

.alert--hidden {
  display: none;
}

/*registerPremium */
.registerPremium {

  display: flex;
  justify-content: center;
  align-items: center;
}

.registerPremium form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
  background-color: #50401C;
  justify-content: flex-start;

}

.registerPremium .registerPremium__info {
  margin-left: 10px;
}

.registerPremium button {
  background-color: #D1A543;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 2px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  width: 280px;
}

.registerPremium .registerPremium__title {

  display: flex;
  gap: 3px;
}

.registerPremium .registerPremium__title--main {
  font-size: 30px;
  font-weight: 700;

}

.registerPremium .registerPremium__title--sub {
  font-size: 15px;
  font-weight: 700;
  /* width: 100px;
  height: 20px; */
  background-color: white;
  color: #D1A543;
  padding: 5px;
  height: 23px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 5px;

}

.registerPremium .registerPremium__des {
  font-size: 14px;
  font-weight: 500;
  color: #dddddda4;
}

.registerPremium .registerPremium__price {
  font-size: 22px;
  font-weight: 600;
}

.registerPremium .registerPremium__privilege {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.registerPremium .registerPremium__privilege--title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  border-top: 1px solid #dddd;
  width: 270px;
}

.registerPremium .registerPremium__privilege--items {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.registerPremium .registerPremium__privilege--item {
  display: flex;
  gap: 5px;

}

.registerPremium .registerPremium__privilege--item i {
  color: #F57F20;

}

.registerPremium .registerPremium__privilege--item-title {
  font-size: 14px;
  font-weight: 400;
}

/*End registerPremium */
/*Nâng cấp tài khoản và tài khoản*/
.account {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: relative;
}

.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #D1A543;
  outline: 0;
  cursor: pointer;
}

.account .boostAccount button {
  background-color: #8742C3;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 3px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  width: 160px;
}

.modal-info-account {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 9999;
}

.account-wrap {
  display: flex;
  gap: 10px;
  background-color: #32234C;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.account-wrap .account-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.account-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 0;
  border: 0;
}

.account-wrap .account-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}

.account-wrap .account-title-type {
  padding: 2px;
  background-color: #A1A1A1;
  border-radius: 5px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.account-wrap button {
  background-color: #47395D;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 2px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  width: 160px;

}

.account-wrap button:hover {
  background-color: #F57F20;
}

/*Hết Nâng cấp tài khoản và tài khoản*/
/*Search*/
.inner-list {
  gap: 0px;
}

.box-search .inner-suggest {
  border: 0;
}

.inner-item {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid #dddddd88;
  align-items: center;
  background-color: #212121;
}

.inner-item .inner-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none !important;
}

.inner-item .inner-info:hover {
  text-decoration: none !important;
}

.inner-item .inner-title {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;

}

.inner-item .inner-singer {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #0A67FF;

}

/*Hết Search*/
/*detail-playlist*/
.playlist-detail {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.playlist-detail .playlist-detail__image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.playlist-detail .playlist-detail__image img {
  width: 280px;
  height: 280px;
}

.playlist-detail .playlist-detail__image--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.playlist-detail__image--title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 5px;
}

.playlist-detail__image--title i {
  font-size: 15px;
  cursor: pointer;
}

.playlist-detail__image--user {
  font-size: 13px;
  font-weight: 500;
  color: #dddddd;
}

.playlist-detail .playlist-detail__image--play button {
  background-color: #8B45CA;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 5px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  width: 180px;
  text-transform: uppercase;
}

.playlist-detail__image--other i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #dddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

}


.playlist-detail__image--other .modal-message-other {
  position: absolute;
  top: 316px;
  left: 181px;
  background-color: #493961;
}

.modal-message-other .modal-message-other__wrap {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
}



.modal-message-other .modal-message-other__wrap button {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #ddd;
  display: flex;
  gap: 5px;
  padding: 10px;

}

.modal-message-other .modal-message-other__wrap button:hover {
  background-color: #584672;

}

.modal-message-other .modal-message-other__wrap i {
  margin-right: 10px;
  border: 0;
}

.song-detail-wrap {
  width: 60%;
}

.playlist-detail__song {
  flex: 1;
}


.playlist-detail__songOfPlaylist--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #dddd;


}

.playlist-detail__songOfPlaylist--title-music {
  width: 200px;
}

.playlist-detail .box-item__category--title {
  position: relative;

}

.playlist-detail .box-item__category:hover {
  background-color: #2F2739;

}

.playlist-detail .box-item__category:hover .box-item__category--title--btnPlay {
  display: block;
  color: white;

}

.playlist-detail .box-item__category--title--btnPlay {
  position: absolute;
  top: 10px;
  left: 47px;
  /* display: none; */
}

.playlist-detail .box-item__category--title--btnPlay i {
  color: #dddddd;
}

.playlist-detail__songSuggest--title {

  font-size: 20px;
  font-weight: 600;
}

.playlist-detail__songSuggest--item .box-item__category {
  width: 755px;
}

/*Hết detail-playlist*/
/*Hiện xóa bài hát khỏi playlist*/

.playlist-detail__image--other .modal-delete-music {
  position: absolute;
  top: 320px;
  left: 170px;
  background-color: #493961;
}

.modal-message-other .modal-delete-music__wrap {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
}

.modal-message-other .modal-delete-music__wrap button {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #ddd;
  display: flex;
  gap: 5px;
  padding: 10px;

}

.modal-message-other .modal-delete-music__wrap button:hover {
  background-color: #584672;

}

.modal-message-other .modal-delete-music__wrap i {
  margin-right: 10px;
  border: 0;
}

/*Hết Hiện xóa bài hát khỏi playlist*/
/*Kiểm tra muốn xóa khỏi playlist không*/

.modal-check-remove-playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check-remove-playlist input {
  background-color: #a389b9;
  border-radius: 10px;
  padding: 4px 6px;
  outline: 0;
  border: 0;
}

.modal-check-remove-playlist button {
  background-color: #8B45CA;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2px 3px;
  text-decoration: none;
  outline: 0;
  border: 0;
  width: 100px;
}

.modal-check-remove-playlist button:hover {
  background-color: #004cd0;

}

.modal-check-remove-playlist .modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Hết Kiểm tra muốn xóa khỏi playlist không*/