mixin box-item(img="", title="", singer="", time="4:32")
    .col-12
        .box-items__category
            .mb-3
                .box-item__category 
                    .box-item__category--title 
                        <i class="fa-solid fa-play"></i>
                        img(src=img, alt="Ảnh bài hát")
                        .box-item__category--title-main #{title}
                    .box-item__category--singer #{singer}
                    .box-item__category--buttons 
                        .inner-time #{time}
                        .inner-heart <i class="fa-regular fa-heart"></i>
