extends ../../layouts/default.pug

block main 
    .row
        .col-12
            div(class = "listmusic" play-list)
                .playlist__header
                    .playlist__header--title Playlist 
                .playlist__content 
                    .create-playlist-new
                        div(class="create-btn-playlist" onclick="handleCreatePlaylist()")
                            <i class="fa-solid fa-plus"></i>
                        .create-playlist-new--title Tạo playlist mới
                    div(class="playlist-old" playlistOld)
                        each playlist in playlists           
                            div(class="playlist-old--title")
                            a(href="/playlist/detail")
                                img(src="/images/img-playlist.png", alt="")  
                            .playlist-old-name-playlist #{playlist.title}  
                            .playlist-old-name-creater  #{userName} 